@page "/DamagedProduct/Add"
@using InventoryControl.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>Sale Order Entry</h3>

@if (headerInfo == null || headerInfo.Items == null)
{
    <p><em>Loading...</em></p>
}
else
{
<EditForm Model="headerInfo" OnValidSubmit="Create" class="card card-body bg-light mt-2">
    <DataAnnotationsValidator />

    <div class="col-12 row mt-2">
        <label for="Code" class="col-md-2 col-form-label">Code:</label>
        <div>
            <InputText id="Code" class="form-control" @bind-Value="headerInfo.Code" />
            <ValidationMessage For="@(()=> headerInfo.Code)" />
        </div>
    </div>
    <div class="col-12 row mt-2">
        <label for="WarehouseId" class="col-md-2 col-form-label">Warehouse:</label>
        <div>
            <Select id="WarehouseId" class="form-control" @onchange="WarehouseSelectionChanged">
                @if (warehouses != null)
                {
                    <option value="0">Select</option>
                    @foreach (var warehouse in warehouses)
                    {
                        var _selected = warehouse.Id == headerInfo.WarehouseId;
                        <option value="@warehouse.Id" selected="@_selected">@warehouse.Name</option>
                    }
                }
            </Select>
            <ValidationMessage For="@(()=> headerInfo.WarehouseId)" />
        </div>
    </div>
    <div class="col-12 row mt-2">
        <label for="Remark" class="col-md-2 col-form-label">Remark:</label>
        <div>
            <InputTextArea id="Remark" class="form-control" @bind-Value="headerInfo.Remark" />
            <ValidationMessage For="@(()=> headerInfo.Remark)" />
        </div>
    </div>
    <div class="col-12 row mt-2">
        <label for="Cost" class="col-md-2 col-form-label">Cost:</label>
        <div>
            <InputNumber id="Cost" class="form-control" @bind-Value="headerInfo.Cost" />
            <ValidationMessage For="@(()=> headerInfo.Cost)" />
        </div>
    </div>
    <br />
    <div class="row col-md-12 mt-2">
        <div class="col-md-2">
            <label>Product:</label>
            <Select id="ProductId" class="form-control" @onchange="ProductSelectionChanged">
                @if (products != null)
                {
                    <option value="0">Select</option>
                    @foreach (var product in products)
                    {
                        var _selected = product.ProductId == itemInfo.ProductId;
                        <option value="@product.ProductId" selected="@_selected">@product.ProductName</option>
                    }
                }
            </Select>
        </div>
        <div class="col-md-2">
            <label>Quantity:</label>
            <InputNumber id="Quantity" class="form-control" @bind-Value="itemInfo.Quantity" />
        </div>
        <div class="col-md-8 text-right mt-2">
            <label> </label>
            <button type="button" class="btn btn-primary" @onclick="@AddItem">Add</button>
            <button type="button" class="btn btn-secondary" @onclick="@Cancel">Cancel</button>
        </div>
    </div>
    <br />
    <div class="col-md-12 mt-2">
        <table class="table">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var info in headerInfo.Items)
                {
                    <tr>
                        <td>@info.ProductName</td>
                        <td>@info.Quantity</td>
                        <td>
                            <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnEditItem(info.Id))">Edit</a> |
                            <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnDeleteItem(info.Id))">Delete</a> |
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <ValidationMessage For="@(()=> headerInfo.Items)" />
    </div>
    <div class="row mt-2">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-secondary" @onclick="@Back">Cancel</button>
        </div>
    </div>
</EditForm>
}

@code {

    [Parameter]
    public int id { get; set; }
    bool isItemEdit;

    private DamagedProductHeaderInfo headerInfo;
    private DamagedProductItemInfo itemInfo;
    string _currencyCode { get; set; }
    private List<WarehouseInfo> warehouses;
    private List<WarehouseProductInfo> products;

    protected override async Task OnInitializedAsync()
    {
        headerInfo = new DamagedProductHeaderInfo();
        itemInfo = new DamagedProductItemInfo();

        warehouses = await Http.GetFromJsonAsync<List<WarehouseInfo>>($"api/warehouse/get");

        if (id > 0)
        {
            headerInfo = await Http.GetFromJsonAsync<DamagedProductHeaderInfo>($"api/damagedproduct/getheaderfrompreorder/{id}");
            headerInfo.Items = await Http.GetFromJsonAsync<List<DamagedProductItemInfo>>($"api/damagedproduct/getitemsfrompreorder/{id}");
            _currencyCode = warehouses.Where(x => x.Id == headerInfo.WarehouseId).Select(x => x.CurrencyCode).FirstOrDefault();
        }
        else
            headerInfo.Items = new List<DamagedProductItemInfo>();
    }


    async void WarehouseSelectionChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            var _newId = Convert.ToInt32(e.Value.ToString());
            headerInfo.WarehouseId = _newId;
            itemInfo = new DamagedProductItemInfo();
            headerInfo.Items = new List<DamagedProductItemInfo>();
            products = await Http.GetFromJsonAsync<List<WarehouseProductInfo>>($"api/warehouseproducts/getbywarehouseid/{_newId}");
            _currencyCode = warehouses.Where(x => x.Id == headerInfo.WarehouseId).Select(x => x.CurrencyCode).FirstOrDefault();
            StateHasChanged();
        }
    }

    void ProductSelectionChanged(ChangeEventArgs e)
    {
        if (e.Value != null)
        {
            var _newId = Convert.ToInt32(e.Value.ToString());
            itemInfo.ProductId = _newId;
            StateHasChanged();
        }
    }

    private async Task Create()
    {
        await Http.PostAsJsonAsync<DamagedProductHeaderInfo>("api/damagedproduct/save", headerInfo);

        NavigationManager.NavigateTo("/DamagedProduct/Index");
    }


    void Back()
    {
        NavigationManager.NavigateTo("/DamagedProduct/Index");
    }

    async void AddItem()
    {
        if (itemInfo.ProductId == 0 || itemInfo.Quantity <= 0 )
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Invalid Data!");
            return;
        }
        else if (products.Where(x => x.ProductId == itemInfo.ProductId && x.Quantity < itemInfo.Quantity).Any())
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Quantity is not enough!");
            return;
        }
        else if (!isItemEdit && headerInfo.Items.Where(x => x.ProductId == itemInfo.ProductId).Any())
        {
            await JSRuntime.InvokeVoidAsync("alert", $"Duplicate Product!");
            return;
        }

        if (isItemEdit)
        {
            var item = headerInfo.Items.Where(x => x.Id == itemInfo.Id).First();
            item.ProductId = itemInfo.ProductId;
            item.ProductName = products.Where(x => x.ProductId == itemInfo.ProductId).Select(x => x.ProductName).FirstOrDefault();
            item.Quantity = itemInfo.Quantity;
        }
        else
        {
            itemInfo.Id = GenerateId();
            itemInfo.HeaderId = id;
            itemInfo.ProductName = products.Where(x => x.ProductId == itemInfo.ProductId).Select(x => x.ProductName).FirstOrDefault();
            headerInfo.Items.Add(itemInfo);
        }

        itemInfo = new DamagedProductItemInfo();
        isItemEdit = false;
    }

    void Cancel()
    {
        itemInfo = new DamagedProductItemInfo();
        isItemEdit = false;
    }

    void OnEditItem(int id)
    {
        var item = headerInfo.Items.Where(x => x.Id == id).FirstOrDefault();
        itemInfo.Id = item.Id;
        itemInfo.HeaderId = item.HeaderId;
        itemInfo.ProductId = item.ProductId;
        itemInfo.ProductName = item.ProductName;
        itemInfo.Quantity = item.Quantity;

        isItemEdit = true;
    }

    void OnDeleteItem(int id)
    {
        var _item = headerInfo.Items.Where(x => x.Id == id).FirstOrDefault();
        headerInfo.Items.Remove(_item);
    }

    int GenerateId()
    {
        int _id;
        if (headerInfo.Items.Count == 0)
        {
            _id = 1;
        }
        else
        {
            _id = headerInfo.Items.OrderByDescending(x => x.Id).Select(x => x.Id).First();
            _id++;
        }
        return _id;
    }

}
