@page "/TransferProduct/index"
@using InventoryControl.Shared
@using InventoryControl.Client.Components
@using InventoryControl.Shared.RequestFeatures
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>Transfer Product Listing</h3>


@if (tansferProducts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <button class="btn btn-primary" @onclick="OnAddNew">Create New Transfer Product</button>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Transfer Date</th>
                <th>From Warehouse</th>
                <th>To Warehouse</th>
                @*<th>Cost</th>*@
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in tansferProducts)
            {
                <tr>
                    <td>@info.Code</td>
                    <td>@info.TransferDate</td>
                    <td>@info.FromWarehouseName</td>
                    <td>@info.ToWarehouseName</td>
                    @*<td>@String.Format("{0:0.00}", info.Cost)</td>*@
                    <td>@info.Remark</td>
                    <td>
                        @*<a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnEdit(info.Id))">Edit</a> |*@
                        <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnDelete(info))">Delete</a> |
                        <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnDetails(info.Id))">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
        </div>
    </div>
}

@code {
    public MetaData MetaData { get; set; } = new MetaData();
    private PageParameters _pageParameters = new PageParameters();
    private List<TransferProductHeaderInfo> tansferProducts;
    public bool Show { get; set; } = false;
    int _tempId = 0;

    void OnAddNew()
    {
        NavigationManager.NavigateTo("/TransferProduct/Add");
    }

    void OnEdit(int id)
    {
        NavigationManager.NavigateTo($"/TransferProduct/Edit/{id}");
    }

    void OnDetails(int id)
    {
        NavigationManager.NavigateTo($"/TransferProduct/Details/{id}");
    }

    async void OnDelete(TransferProductHeaderInfo info)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure to delete the Transfer Info '{info.Code}'?"))
            return;

        Show = false;
        var result = await Http.DeleteAsync("api/transferproduct/delete/" + info.Id);

        if (result.IsSuccessStatusCode)
            await LoadForm();
    }

    private async Task LoadForm()
    {
        await Task.Delay(500);

        await GetData(_pageParameters);

        StateHasChanged();
    }

    private async Task SelectedPage(int page)
    {
        _pageParameters.PageNumber = page;
        await GetData(_pageParameters);
    }

    //protected override async Task OnInitializedAsync()
    //{
    //    tansferProducts = await Http.GetFromJsonAsync<List<TransferProductHeaderInfo>>("api/transferproduct/getheaders");
    //}

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Authors - OnAfterRenderAsync - firstRender = " + firstRender);

        if (firstRender)
        {
            await LoadForm();

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    async Task GetData(PageParameters parameters)
    {
        var response = await Http.GetFromJsonAsync<TransferProductHeaderList>($"api/transferproduct/getheaders?PageNumber={parameters.PageNumber}&PageSize={parameters.PageSize}");

        tansferProducts = response.Items;
        MetaData = response.Meta;
    }
}
