@page "/PreOrder/Index"
@using InventoryControl.Shared
@using InventoryControl.Client.Components
@using InventoryControl.Shared.RequestFeatures
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<h3>PreOrder Listing</h3>


@if (orders == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>
        <button class="btn btn-primary" @onclick="OnAddNew">Create New PreOrder</button>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Order Date</th>
                <th>Customer</th>
                <th>Waiting Days</th>
                <th>Deposit</th>
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in orders)
            {
                <tr>
                    <td>@info.Code</td>
                    <td>@info.OrderDate</td>
                    <td>@info.CustomerName</td>
                    <td>@info.WaitingDays</td>
                    <td>@String.Format("{0:0.00}", info.Deposit)</td>
                    <td>@info.Remark</td>
                    <td>
                        <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnEdit(info.Id))">Edit</a> |
                        <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnDelete(info))">Delete</a> |
                        <a style="text-underline-position:below; cursor:pointer; color:blue" @onclick="(() => OnDetails(info.Id))">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
        </div>
    </div>
}

@code {
    public MetaData MetaData { get; set; } = new MetaData();
    private PageParameters _pageParameters = new PageParameters();
    private List<PreOrderHeaderInfo> orders;

    void OnAddNew()
    {
        NavigationManager.NavigateTo("/PreOrder/Add");
    }

    void OnEdit(int id)
    {
        NavigationManager.NavigateTo($"/PreOrder/Edit/{id}");
    }

    void OnDetails(int id)
    {
        NavigationManager.NavigateTo($"/PreOrder/Details/{id}");
    }

    private async Task SelectedPage(int page)
    {
        _pageParameters.PageNumber = page;
        await GetData(_pageParameters);
    }

    async void OnDelete(PreOrderHeaderInfo info)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure to delete the PerOrder Info '{info.Code}'?"))
            return;

        var result = await Http.DeleteAsync("api/preorder/delete/" + info.Id);

        if (result.IsSuccessStatusCode)
            await LoadForm();
    }

    private async Task LoadForm()
    {
        await Task.Delay(500);

        await GetData(_pageParameters);

        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData(_pageParameters);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Console.WriteLine("Authors - OnAfterRenderAsync - firstRender = " + firstRender);

        if (firstRender)
        {
            await LoadForm();

            StateHasChanged();
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    async Task GetData(PageParameters parameters)
    {
        var response = await Http.GetFromJsonAsync<PreOrderHeaderList>($"api/preorder/getheaders?PageNumber={parameters.PageNumber}&PageSize={parameters.PageSize}");

        orders = response.Items;
        MetaData = response.Meta;
    }

}
